 {{! handlebars template, will be compiled by the grunt task. The compiled version will be used in the app to improve perfermance}}
<div class="banner well center text-center">
<h1>{{header}}</h1>
<p>{{text}}</p>
</div>
<div class="row">
  {{#each menuItems}}
    <div class="col-xs-6 col-sm-4 {{responsiveClass}}">
    <div class="container start-menu-item {{className}}">
      <a class="btn start-menu-item-icon">
        <i class="icon-{{iconClass}} icon-2x"></i>
      </a>
      <h5>{{menuTitle}}</h5>
      <h6>{{menuSubTitle}}</h6>
    </div>
  </div>
  {{/each}}
</div>



